.FullPost {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    z-index: 1000;
}

.FullPost_content {
    background: #fff;
    width: 70%;
    height: 95%;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    overflow: hidden;
}

.FullPost_image {
    width: 60%;
    height: 100%;
    object-fit: cover;
}

.FullPost_details {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto; /* Scroll for overflow content */
}

.FullPost_header {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between avatar and username */
    margin-bottom: 20px;
    color: #333;
}

.FullPost_header p {
    color: #333;
    font-weight: bold;
}
.FullPost_comment {
    flex-grow: 1; /* Takes available space */
    overflow-y: auto; /* Scroll if many comments */
    font-weight: normal;
    padding: 5px;
}

.FullPost_separator {
    height: 1px;
    width: 100%; /* or any width you desire */
    margin: 10px 0; /* adjust for desired spacing */
    border-top: 1px solid grey;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #f00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.FullPost_username_caption {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.FullPost_caption {
    font-weight: lighter;
    margin: 0;
    word-break: break-word;
}

.FullPost_caption_wrap {
    display: flex;
    flex-direction: column;
    align-items: start;
}


