.FullPost {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.FullPost_content {
    background: #fff;
    width: 70%;
    height: 98%;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    overflow: hidden;
}

.FullPost_image {
    width: 60%;
    height: 100%;
    object-fit: cover;
}

.FullPost_details {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto; 
    padding-left: 0;
    padding-right: 0;
}

.FullPost_comment {
    flex-grow: 1; 
    overflow-y: auto;
    font-weight: normal;
    padding: 5px;
}

.FullPost_separator {
    height: 0px;
    width: 100%; 
    margin: 10px 0; 
    border-top: 0px solid grey;
}



.FullPost_close_button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #f00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.FullPost_username_caption {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 50x;
}

.FullPost_caption {
    flex-grow: 1;
    font-size: 15px;
    word-break: break-word; 
    overflow-wrap: break-word;
    padding-right: 100px;
}

.FullPost_username{
    font-weight: bold;
    margin-right: 5px; 
    font-size: 15px;
}

.FullPost_caption_wrap p:first-child {
    margin-right: 5px;
}

.FullPost_caption_container{
    display: inline-block;
    margin-left: 3px;
    margin-right: 30px;
    
}

.FullPost_username, .FullPost_caption {
    display: inline;
}

.FullPost_engagement{
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    gap: 5px; 
    padding-left: 10px;
}

.FullPost_engagement_icons {
    display: flex;
    gap: 10px;
}

.FullPost_engagement button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    color: #333; 
    padding: 0;
    margin: 0;
}

.FullPost_engagement p {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 10px;             
    margin-top: 10px;
}

.FullPost_icon_button {
    background: none;
    border: none;
    cursor: pointer;
    color: #333;  
    font-size: 1em; 
    padding: 0;
    margin: 0;
}

.FullPost_icon_button svg {
    stroke: #333;  
    stroke-width: 2; 
    fill: #fff;
    font-size: 1.5em;
}

.FullPost_liked {
    color: red;
}

.FullPost_footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    display: flex;
    height: 75%;
}

.FullPost_comments_scrollable{
    overflow-y:auto;
    flex-grow: 1;
    max-height: 100%;
}



.FullPost_comment_section {
    margin-top: 15px;
    display: flex;
    width: 100%;
}

.FullPost_comment_section input{
    flex: 1;
    margin-right: 10px;
    width: 100%;
    border: 0;
}

.FullPost_comment_section input:focus{
    outline: none;
}

.FullPost_comment_button {
    color: #3897f0;
    background-color: transparent;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: bold;
}


.FullPost_comment_button:hover {
    background-color: #357ab7;
}

.FullPost_edit_delete {
    display: flex;
    gap: 10px;
}

.FullPost_edit_button {
    color: #007BFF;
}

.FullPost_delete_button {
    color: #dc3545; 
}

.FullPost_edit_button:hover {
    background-color: #0056b3;
}

.FullPost_delete_button:hover {
    background-color: #b21a2c;
}

.FullPost_textarea_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

