.navbar_icon {
    color: black;
}
.navbar_instagram-logo{
    font-size:x-large;
    font-style: cursive;
    font: bold;
}

.navbar_wrapper {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 10px 0; 
    border-bottom: 1px solid #e6e6e6; 
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 90%; 
    max-width: 1200px; 
}

.navbar_logo-wrapper {
    display: flex;
    align-items: center;
}

.navbar_search {
    display: flex;
    align-items: center; 
    margin: 0 20px;
    position: relative;
    width: 220px;
    
}

.navbar_search-icon {
    position: absolute;
    left: 10px;
    top:45%;
}

.navbar_search-input {
    width: 100%;
    padding-left: 36px; 
    padding-top: 5px;
    padding-bottom: 5px; 
    height: 10px; 
    line-height: 20px;
    text-align: center;
    font-size: 14px; 
    background-color: white;
    border: 1px solid #ccc !important; 
    border-radius: 0px !important;
}

.navbar_icons {
    display: flex;
    gap: 15px;
}

.navbar_link {
    color: black; 
    text-decoration: none;
    transition: color 0.3s;
}

.navbar_link:hover {
    color: #c7c7c7; 
}

.active-link {
    color: #000; 
}
