.post {
   background-color: white;
   border: 1px solid lightgray;
   margin-bottom: 45px;
   width: 470px;
}

.post_image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray
}

.post_text {
    font-weight: normal;
    padding: 10px;
    text-align: left;
}

.post_header {
    display: flex;
    align-items: center;
    padding: 5px;
}

.post_avatar {
    margin-right: 10px;
}

.post_comment{
    font-weight: normal;
    padding: 5px;
}

.post_comment_section{
    /* border: #000;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black; */
    border: 1px solid lightgray
}
