.profile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    width: 100%;
    margin-bottom: 50px;
}

.profile-header_stats {
    display: flex;
    gap: 20px; 
    font: 400;
}

.profile-header_stats_text{
    font-weight: 500;
}

.profile-header_avatar{
    width: auto !important; 
    height: calc(100% - 40px) !important; 
    border-radius: 50% !important;
    object-fit: cover;
}

.profile-header_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.profile-header_username{
    font-weight: 500;
    font-size: 20px;
    color: #262626;
}

.profile-header_name{
    font-weight: 700;
}