.ProfilePage_divider{
    width: 60%;
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 20px auto; 
}

.ProfilePage-posts_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    gap: 10px; /* Adjust the gap based on your preference */
    width: 60%; /* This should match the width of your horizontal line */
    margin: 20px auto; /* Center the grid container */    
}