.signup-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.signup-formContainer{
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    box-sizing: border-box;
    width: 100%;

}

.signup-login-only{
    border: 1px solid #ccc;
    padding: 3.6rem;
    border-radius: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    max-width: 300px;
    box-sizing: border-box;
    width: 100%;
}

.signup-logo{
    font-family: 'Billabong', cursive;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #3897f0;
}

.signup-form{
    display:flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
}

.signup-input-field{
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px
}

.signup-submit-button{
    background-color: #0095F6;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.signup-login-text{
    margin-top: 1.5rem;
}

.signup-login-button{
    border: none;
    background-color: transparent;
    color: #0095F6;
    cursor: pointer;
}

.signup-text {
    text-align: center;
}